{% extends "home.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 p-4 shadow-lg bg-white rounded">
    <h3 class="text-center mb-4 text-primary">Update To-Do</h3>
    <form method="POST" action="{% url 'todo_update' todos.id %}">
        {% csrf_token %}

        <div class="mb-3">
            <label for="title" class="form-label fw-bold">Title</label>
            <input type="text" class="form-control border-primary" id="title" name="title" value="{{ todos.title }}">
        </div>
      <div class="mb-3">
          <label for="exampleStatus" class="form-label fw-bold">Status: </label>
                <select class="form-select border-primary" id="exampleStatus" name="status">
                    <option value="not_started" {% if todos.status == "not_started" %} selected {% endif %}>Not Started</option>
                    <option value="in_progress" {% if todos.status == "in_progress" %} selected {% endif %}>In Progress</option>
                    <option value="completed" {% if todos.status == "completed" %} selected {% endif %}>Completed</option>
                </select>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>

{% endblock %}
